@function rem($size) {
  $result: calc($size / 16);
  @return $result + rem;
}

$color-bg: #eeeeee;
$color-text: #404040;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: rem(36);
  &::selection {
    background-color: $color-text;
    color: $color-bg;
  }
}

body {
  background-color: $color-bg;
  color: $color-text;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(48) 0;
  // background-color: yellowgreen;
}

section {
  width: 100%;
  // min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-color: orangered;
}

ul {
  width: 100%;
  padding: 0 rem(24);
  list-style: none;

  @media screen and (min-width: 650px) {
    width: rem(576);
  }

  button.link-box {
    width: 100%;
    height: rem(112);
    display: flex;
    align-items: center;
    border-radius: rem(16);
    background-color: #ffffff;
    padding: rem(16);
    margin-bottom: rem(24);
    outline: none;
    border: none;
    cursor: pointer;
    border: 4px dashed transparent;
    transition: all ease-in 200ms;

    svg {
      fill: $color-text;
      width: rem(64);
    }

    li {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - rem(64));

      a {
        font-size: rem(36);
        text-decoration: none;
        color: $color-text;
        &:focus {
          border-radius: 4px;
          outline: 2px dashed $color-text;
        }
        &::selection {
          background-color: $color-text;
          color: $color-bg;
        }
      }
    }

    &:focus {
      outline: 4px dashed $color-text;
    }
    &:active {
      background-color: $color-bg;
      border: 4px dashed $color-text;
    }
  }
}
